<!doctype html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lobster|Ropa+Sans|Sigmar+One&display=swap" rel="stylesheet">
<script type="module" src="javascripts/main.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Frazer Portfolio</title>
</head>

<body id="home">




            <div class= "head" >     
                <!--- <canvas class ="animation">
                </canvas> --->

        <h1 class="main--heading">

     Frazer
           Watson <span class="highlighter">Web 
            Developer</span></h1>

            <div class="main-p">
                <div class="main-p-inside--box">

                    <a href="#projects">View My Work</a>
                </div>
                            </div>

                        </div>



  
    <main class="firstMain">
        
<nav id="projects" class="divideNav"> <ul class= "divideNav--ul">
    <li class="stayHome"> <a href = "#home">Home </a></li>
    <li><a href = "#about">About </a></li>
    <li><a href = "#contact">Contact </a></li>
    <li><a href = "#projects">Portfolio </a></li>

</ul>
 </nav>
        <div  class="portfolio">
<div class="project"  >
        <h2>Naughts and Crosses</h2>
        <a href = "tictactoe/tictactoe.html">
        <img  src="images/naughts.png">
    </a>
</div>
<div class="project">
        <h2>Node js</h2>
        <a href= "https://intense-reaches-56617.herokuapp.com/catalog">
        <img src="images/darwenLibrary.png">
</a>


</div>
<div class="project">
        <h2>Website with CMS</h2>

        <img src="images/project.png">



</div>
<div class="project"> 
        <h2>Draughts</h2>

        <img src="images/project.png">


</div>



        </div>

        <div class="bottom">

            <h2 id="about" >About</h2>
<div class="bottom-img">
            <img src="images/project.png"> 
        </div>
        <p>Front end Web Developer based in the Uk.</p>
         <p> Passion for learning javascript and new programming concepts.</p>
         
         <h2 id="contact">Contact</h2 >
<form class="contact--form"  action="/" method="post">
  <input type="text" name="name" value="Your Name">
   <input type="text" name="email" value="Enter Email">
<input type="text" name="message" value="Your Message">
<input type="submit">
</form>

        </div>
    </main>
    <footer class ="footer">
  
<div class="footer-break">
   
    <span class ="footer-span" > 
            <a href="#home">Home</a>
      </span>
      <span class ="footer-span" > 
            <a href="#projects">Portfolio</a>
      </span>
      <span class ="footer-span" > 
            <a href = "#about">About</a>
      </span>
    </div>
<break></break>

    <div class="footer-break">
            <span class ="footer-span" >
                 Frazer Watson ©2019</span>
           
            </div>


    </footer>
    <script src="javascripts/anime.min.js"></script>

</body>

</html>