doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  title Constructor tests
  link(href='stylesheets/tictactoe.css', link='', rel='stylesheet')
h1.mainHeading Play Naughts and Crosses -like its 1995!
#container.container
footer.footer
  a(href='/')
    | Back To my page
script(src='javascripts/draughts.js', type='text/javascript')
